@font-face {
  font-family: 'SamsungOne';
  src: url('/assets/SamsungOne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.logo {
  background: linear-gradient(to top left, #cee9ff, white, #ffc9d8);
  background-clip: text;
  color: transparent;
}
body {
  font-family: 'SamsungOne';
  background-color: black;
  color: white;
  margin: 0;
  position: fixed;
}
.hicon {
  display: flex;
  gap: 10px;
  height: 20px;
  width: 20px;
  float: right;
  margin-left: 15px;
}

header {
  padding: 5vw;
}
.header {
  font-size: 25px;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 12px;
  color: rgb(119, 119, 119);
}
.pages > span {
  padding: 4px;
  margin: 0 5px;
  
}
::-webkit-scrollbar {
  display: none;
}
.container {
  background: rgb(50, 50, 50);
  width: 100vw;
  height: 100vh;
  border-radius: 50px 50px 0% 10%;
}
.player-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: rgb(215, 153, 175);
  display: flex;
  justify-content: center;
  align-items: center;
}
.player {
  position: fixed;
  bottom: 10px;
  width: calc(100% - 20px);
  max-width: 600px;
  height: 150px;
  background: rgba(50, 50, 50, 0.5);
  border-radius: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

.bgi {
  background-color: gray;
  background-image: url('/assets/bluebird.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.selcPG {
  font-size:medium;
  color: rgb(255, 255, 255);
}

#seekbar {
  width: calc(100% - 50px);
  position: absolute;
  left: 25px;
  top: 80px;
  height: 20px;
}

.player-controls {
  display: flex;
  justify-content: space-around;  
  align-items: center;
  padding: 10px;
  width: 280px;
  position: absolute;
  left: calc(50% - 150px);
  bottom: 5px;
  height: 20px;
}

.player-icon {
  width: 30px;
  height: 30px;
}

.suggestion-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.player-details {
  position: absolute;
  left: 80px;
  top: 22px;
  color: white;
}
.player-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.player-artist {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #ccc;
}
.music-i {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(.85); }
    100% { transform: scale(1); }
}

.time {
  font-size: 10px;
  color: #ccc;
  position: absolute;
  bottom: 35px;
}
#ctime {
  left: 27px;
}
#etime {
  right: 27px;
}
.label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 25px;
  color: rgb(150, 150, 150);
}
.hscroll {
  width: calc(100% - 30px);
  display: flex;
  overflow-x: auto;
  gap: 20px;
  margin:15px;
  scroll-behavior: smooth;
}

.card-img {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-image: url('/assets/ED.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-title {
  font-size: 13px;
  font-weight: lighter;
  margin-top: 10px;
  color: rgb(230, 230, 230);
  text-align: center;
}